body {
    background-image: linear-gradient(
        #461220,
        #69140e,
        #7d1128,
        #a64253
    );
    background-size: cover;
    background-attachment: fixed;
    color: #FFFFFF;
    font-family:ToshibaSat;
	font-size:16px;
}

@font-face{
	font-family: ToshibaSat;
	src: url(assets/fonts/PxPlus_ToshibaSat_8x16.ttf);
}

@font-face{
	/* Sorry for the less-than-helpful font name, I grabbed this from the default REXPaint fonts and turned it into a ttf myself */
	font-family: SquareAssBitch;
	src: url(assets/fonts/myfont.ttf);
}

img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

div { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

pre {
	text-align:center;
	font-family:ToshibaSat;
	white-space: break-spaces;
	padding:0;
	margin:0;
	line-height:16px;
}

hr {
	border: none;
	margin: 0;
	background-image: url(assets/icons/hr.png);
	height: 16px;
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

footer {
	text-align:center
}

#container {
	max-width: 800px;
	margin: 0 auto;
}

.pagetitle {
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-image: url(assets/icons/border3.png) 33% repeat;
	margin-bottom:16px;
}

#flex {
	display:flex;
	max-width: 800px;
}

main {
	width: 560px;
}

aside {
	width: 240px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-image: url(assets/icons/border1.png) 33% repeat;
}

.title {
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-image: url(assets/icons/border2.png) 33% repeat;
	margin:0;
	padding:0;
	max-height:48px;
}

.title:first-child {
	margin-top: 0px;
}

.navtitle {
	font-size: 20px;
	border-bottom: 3px solid white;
	border-style: double;
	padding: 5px;
	padding-left:25px;
}

.content {
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-image: url(assets/icons/border1.png) 33% repeat;
}

.standalone {
	border-left: 16px solid transparent;
	border-top: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-image: url(assets/icons/border1.png) 33% repeat;
}

blockquote {
	border-left: 3px solid #d56aa0;
	margin: 1.5em 10px;
    padding: 0.5em 10px
}

code {
	background: rgba(59, 23, 29, 0.5);
	font-family: ToshibaSat;
}

code.block {
	border-left: 3px solid #d56aa0;
	margin: 1.5em 10px;
    padding: 0.5em 10px;
	background-color: rgba(59, 23, 29, 0.5);
}

a:link {
	color: #f2b3d3
}

a:visited {
	color: #d56aa0
}

nav {
	font-family:ToshibaSat;
	font-weight: bold;
	position: sticky;
}

ul {
	list-style-position: inside;
	padding-inline-start: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

.gallery {
	display:flex;
	flex-wrap: wrap;
	flex-shrink: 1;
	justify-content: start;
}

.galleryspacer {
	width:100%;
	margin:0;
}

.galleryitem {
	width:33.3%;
	margin:0;
}

p {
	margin:0;
	padding:0;
	line-height:16px;
}

p + p {
	margin-top:16px;
}

ul > li {
	margin:0;
	background-image: url(assets/icons/arrow1.png);
	list-style-type: none;
	padding-left: 16px;
	background-position: 0 0;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

h3 {
	font-size: 16px;
	margin: 0;
	margin-bottom: 16px;
	padding: 0;
}

h4 {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.galleryspacer > h4 {
	margin-top: 16px;
}