body {
	background-image: linear-gradient(
		#461220,
		#69140e,
		#7d1128,
		#a64253
	);
	background-size: cover;
	background-attachment: fixed;
	color: #FFFFFF;
	font-family:Consolas,Hack,"Liberation Mono",monospace;
}

h1 {
	text-align: center;
	font-family:Consolas,Hack,"Liberation Mono",monospace;
}

nav {
	text-align: center;
	font-family:Consolas,Hack,"Liberation Mono",monospace;
	font-weight: bold;
}

a:link {
	color: #f2b3d3
}

a:visited {
	color: #d56aa0
}

hr {
	color: #d9cab3;
}

footer {
	text-align:center
}

.flex {
	display:flex;
	text-align:center;
	justify-content:center;
	gap:20px;
}

.mainbox {
	margin: auto;
	justify-content: center;
	max-width: 550px;
	flex-direction: row;
	text-align: center;
	margin-bottom: 5px;
	   backdrop-filter: blur(10px);
}

.mainbox p {
	text-align: left;
}