body {
    background-image: linear-gradient(
        #461220,
        #69140e,
        #7d1128,
        #a64253
    );
    background-size: cover;
    background-attachment: fixed;
    color: #FFFFFF;
    font-family:Consolas,Hack,"Liberation Mono",monospace;
}


h1 {
	text-align: center;
	font-family:Consolas,Hack,"Liberation Mono",monospace;
}

hr {
	color: #d9cab3;
	max-width: 550px;
}

footer {
	text-align:center
}

.mainbox {
	margin: auto;
	justify-content: center;
	max-width: 550px;
	flex-direction: row;
	text-align: center;
	margin-bottom: 5px;
	   backdrop-filter: blur(10px);
}

.mainbox p {
	text-align: left;
}

#container {
	max-width: 850px;
	margin: 0 auto;
}

.pagetitle {
	height: 150px;
	border: 3px solid white;
	margin-bottom: 5px;
}

#flex {
	display:flex;
	max-width: 850px;
}

main {
	width: 74%;
}

aside {
	width: 30%;
	margin-left: 5px;
	border: 3px solid white;
}

.title {
	font-size: 20px;
	border: 3px solid white;
	margin-top: 5px;
	padding: 5px;
	padding-left:25px;
}

.title:first-child {
	margin-top: 0px;
}

.navtitle {
	font-size: 20px;
	border-bottom: 3px solid white;
	padding: 5px;
	padding-left:25px;

}

.content {
	border: 3px solid white;
	padding: 25px;
}

blockquote {
	border-left: 3px solid #d56aa0;
	margin: 1.5em 10px;
    padding: 0.5em 10px
}

code {
	background: rgba(59, 23, 29, 0.5);
}

code.block {
	border-left: 3px solid #d56aa0;
	margin: 1.5em 10px;
    padding: 0.5em 10px
}

a:link {
	color: #f2b3d3
}

a:visited {
	color: #d56aa0
}

nav {
	font-family:Consolas,Hack,"Liberation Mono",monospace;
	font-weight: bold;
	position: sticky;
	top: 10px;
}

nav ul {
	list-style-type=
}

img {
	max-width: 100%;
}