<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ '/bundle.css' | url }}" />
	<link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | url }}">
	<h1>Bedrock206's corner of the internet</h1>
	<nav>
		<a href="{{'/index.html' | url }}">Home</a> | <a href="{{ '/collections/index.html' | url }}">Collections</a> | <a href="{{'/blog/index.html' | url}}">Blog</a> | <a href="{{'/about/index.html'|url}}">About</a>
	</nav>
	<hr>
</head>
<body>
	<div class="maintext">
    {{ content }}
	</div>
</body>
<hr>
<footer>
	This site is <a href="http://jeffhuang.com/designed_to_last/">designed to last</a>.
</footer>
</html>